#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .loading-text {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 2em;
  }
  
  .loading-dots {
    display: flex;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    margin-right: 10px;
    animation: dot-animation 1s ease-in-out infinite;
  }
  
  @keyframes dot-animation {
    0%, 20% {
      transform: scale(1);
    }
    25%, 45% {
      transform: scale(1.5);
    }
  }
  
  .dot:nth-child(1){
    animation-delay: 0.1s;
  }
  .dot:nth-child(2){
    animation-delay: 0.2s;
  }
  .dot:nth-child(3){
    animation-delay: 0.3s;
  }
  