html{
    scroll-snap-type: y mandatory;
    -webkit-animation-duration: 1.5s all;
    -webkit-transition: 1.5s;  
    background-image: url(../IMG/16968552-ligne-ondulee-de-couleur-degrade-bleu-vague-sur-fond-blanc-gradient-vecteur-maillage-vectoriel.jpg);
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-attachment: fixed; /* Fixe l'image lors du scroll */
    background-size: cover; 
}

body {
    margin: 0;
    padding: 0;
    color: black;
}

.enfant {
    background-color: transparent;
    scroll-snap-align: start;
    overflow: hidden;
    font-family: MontSerrat-semi;
    height: 100vh;
    align-items: center;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
} 

