html{scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    color: black;
}


.enfant {
    background-color: transparent;
    scroll-snap-align: start;
    overflow: hidden;
    font-family: MontSerrat-semi;
    height: 100vh;
    scroll-snap-align: center;



    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.enfant>div{
    flex-grow: 1;
}

::-webkit-scrollbar {
    display: none;
} 

