.enfant-1{
    padding: 0 25% 0 25%;
    display: flex;
    flex-wrap: wrap;
}

.content-first{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

img{
    flex-basis: 40%;
    overflow: hidden;
    width: 30%;
}

.content-first-text{
    flex-basis: 55%;
    align-items: center;
}

.bulle{
    background: black;
    color: white;
    padding: 10px 30px 10px 30px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.prenom{
    font-size: 65px;
    text-align: start;
}

.content-first-text{
    padding-top: 2rem;
}

.changement{
    display: flex;
    margin-bottom: 5rem;
}

.fixe{margin-right: 5px;}