.enfant-5{
    padding: 5rem 20vw 0 20vw;
}

.formation{
    display: flex;
    justify-content: space-between;
}

.liste-formation{
    flex-basis: 49%;
}

.experience{
    flex-basis: 49%;
}

.carte-formation{
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 0px );
-webkit-backdrop-filter: blur( 0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

    padding: 1rem 2rem 1rem 2rem;
    margin-bottom: 3rem;
    min-height: 10rem;
    width: 90%;
    max-width: 30rem;
    transition: .7s;
}

.formation h2{
    text-align: center;
    font-size: 175%;
}

.carte-formation > h4{
    color: #5ac7f2;
}

.carte-formation > h5{
    color: #774bbb;
}

.carte-formation:hover{
    transform: translateY(-10px);
    background: rgba( 255, 255, 255, 0.4 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}