footer{
    background-color: rgb(0, 0, 0);
    color: white;
    margin-top: 20rem;
    padding: 3% 0 1% 0;
    text-align: center;
}

footer > div{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5%;
}

footer > div > div{
    flex-basis: 25%;
    flex-grow: 1;
}

footer a{
    color: white;
}

footer h3{
    font-weight: bold;
}

footer p, footer a{
    font-family: century_light;
}

.speciale{
    border-left: thin white solid;
    border-right: thin white solid;
    padding: 0 10% 0 10%;
}