nav{
    position: sticky;
    top: 0;
}
.liens_nav{
    display: flex;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.liens_nav > li{
    flex-grow: 1;
    list-style: none;
    margin-top: auto;
    margin-bottom: auto;
}

a{
    color: black;
    text-decoration: none;
}

header{
    padding-top: 0px;
    padding-right: 2em;
    padding-left: 2rem;
    box-shadow: 0px 10px 75px rgb(154, 154, 154);
    position: sticky;
    top: 0;
    background-color: white;
    z-index: +1;
}
