/* pour les cartes */
@media screen and (max-width : 1000px) {
    .container {
        margin-bottom: 10rem;
        display: grid;
        grid-auto-rows: minmax(150px, auto);

    }

    .card {
        margin: 5rem 1rem 5rem 1rem;
        min-height: 300px;
    }

    .card-header {
        min-height: 150px;
    }

    .card-header>a>img {
        min-height: 350px;
    }
}

/* pour les informations sur moi */
@media screen and (max-width : 1800px) {
    .part-information>img {
        flex-grow: 1;
        flex-basis: 100%;
        margin: 0;
        width: 100%;
    }

    .part-information {
        margin: 0 0 20% 0;
        flex-wrap: wrap;
    }

    .cartes-content {
        padding-top: 5rem;
        text-align: center;
    }

    .cartes-content>p {
        margin: 2%;
    }

    .informations {
        margin: 20rem 0 20rem 0;
        padding: 1rem;
    }

    blockquote {
        border-left: none;
        text-decoration: underline;
    }
    .cartes-content {
        flex-grow: 1;
    }

    /* speciale pour désactiver l'effet hover quand on est en mode telephone */
    .container:hover>.card:not(:hover) {
        filter:  blur(3px);
        pointer-events: none;
    }
}

/* pour la bannière */
@media screen and (max-width : 1200px) {
    .intro_content {
        margin: 0;
    }
}