@font-face {
    font-family: Century;
    src: url(../POLICES/century/CenturyGothic.ttf);
}

@media screen and (max-width : 1000px) {
  body{
    font-size: 100%;
  }
}


html{
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAICAYAAAArzdW1AAAACXBIWXMAABcRAAAXEQHKJvM/AAAAfElEQVQYGYWQwQ3CMAxFX7NA1Q0YIVIDPcImzMAG6QYdoatwjJJDRygbwARBXxQpBxrezfaT/O0m54w7DhaYgDMfHqpTDOrR9O50ABag3YSSMcXgJc3A9YfwpTOAVtWwkv4iSXlqLJI88NqxFPxpUgwrcAHuxVAvuOkygDdMhR9qCMDpaAAAAABJRU5ErkJggg==),auto!important;
}

body{
    font-family: Century;
    margin: 0;
    font-size: 1.3rem;
}




.container {
  margin-bottom: 10rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  flex-basis: 20%;
  flex-grow: 1;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.2s;
}

.card:hover > img {
  transform: scale(1.5);
}


@media screen and (max-width : 1000px) {
  .container {
    margin-bottom: 10rem;
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    
  }
  .card{
    margin: 5rem 1rem 5rem 1rem;
    min-height: 300px;
  }
  .container:hover > .card:not(:hover){
    pointer-events: none;
  }
  .card-header{
    min-height: 100px;
  }
  .card-header > a > img{
    min-height: 250px;
  }
}




.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 350px;
}

.tag {
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-teal {
  background: rgb(63,94,251);
  background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);

}
.tag-purple {
  background: rgb(63,94,251);
background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
.tag-pink {
  background: rgb(63,94,251);
background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.card-body p {
  font-size: 1rem;
  margin-bottom: 3em;
}
.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #545d7a;
}


.container:hover > .card:not(:hover){
  filter:  blur(3px);
}

.card:hover img{
  transform: scale(1.05);
}

.presentation span{
  padding: 1rem;
  border-radius: 55px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 202, 91);
}

.presentation span:hover{
  box-shadow: 0 0 10px rgb(0, 255, 115);
  transition: 0.5s;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loading-text {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 2em;
}

.loading-dots {
  display: flex;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  margin-right: 10px;
  animation: dot-animation 1s ease-in-out infinite;
}

@keyframes dot-animation {
  0%, 20% {
    transform: scale(1);
  }
  25%, 45% {
    transform: scale(1.5);
  }
}

.dot:nth-child(1){
  animation-delay: 0.1s;
}
.dot:nth-child(2){
  animation-delay: 0.2s;
}
.dot:nth-child(3){
  animation-delay: 0.3s;
}

