.informations{
    justify-content: center;
    align-items: center;
    margin: 12rem;
}
  
  .titre{
    background: rgb(0,37,71);
    background: linear-gradient(90deg, rgba(0,37,71,1) 0%, rgba(40,12,184,1) 28%, rgba(0,52,180,1) 61%, rgba(66,190,255,1) 86%);
  }

  .part-information{
    display: flex;
    margin: 15rem 0 15rem 0;
  }

  .part-information > img{
    flex-basis: 55%;
    margin: 1rem;
    width: 70%;
  }

  
  .part-information:nth-child(even){
    flex-direction: row-reverse;
  }


.cartes-content{
    padding-top: 5rem;
    flex-basis: 45%;
}

  .cartes-content > p{
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 1.3rem;
  }
  
  
  blockquote{
    border-left: thick solid black;
    padding: 1rem;
    margin-left: 0;
    font-size: 1.2rem;
  }
  

