body{
	font-size: 100%;
	font-family: sans-serif;
    background-color: white;
    color : white;
    margin: 0px;
    font-family: "Rubik";
}

#submit{
	font-family: sans-serif;
	font-size: 20px;
	background-color: #279;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
#submit:hover{
	background-color: #38a;
}


@font-face {
    font-family: "Rubik";
    src: url(../Police_ecriture/rubik/Rubik-Light.ttf);
}

li{
    list-style: none;
}

.question li{
    margin : 2%;
}

.ques{
    margin-top: 5%;
}

.reponse{
margin: 0%;
}

.reponse:hover{
background-color: #2f3a44;
}

#question1{
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-left: 15vw;
    margin-right: 15vw;
    background-color: #212e3b;
    border-radius: 5px;
}

#question2{
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-left: 15vw;
    margin-right: 15vw;
    background-color: #212e3b;
    border-radius: 5px;
}

h1{
    text-align: center;
    color: black;
    font-size: 200%;
    margin-left: 2em;
    margin-right: 2em;
    padding-bottom: 1em;
    border-bottom: thin black solid;
    font-family: "Rubik";
}


nav>ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 0px;
}

nav>ul>li{
    font-weight: bold;
    font-size: 1.2em;
}

header  a{
    text-decoration: none;
    color: black;
    border-bottom: none;
}

header a:hover{
    border-bottom: 2px black solid ;
}

a{
    text-decoration: none;
    color: white;
}

.mooc{
    color: white;
}

header li{
    list-style-type: none;
    margin: none;
}

h2{
    text-align: center;
    color : #ffd77a;
    border-bottom: thin white solid;
    font-weight: bold;    
    font-family: "Rubik";
    margin-bottom: 1em;
    padding-bottom: 1em;
}

div > ul > li{
    margin : 5em;
    font-size: large;
    line-height: 25px;
    font-weight: lighter;
    list-style: none;
}

header{
    background-color: #fde7b3;
    margin-bottom: 2.5em;
    padding: 2em;
    padding-bottom: 1em;
}

strong{
    border-bottom: none;
}
.mooc:hover{
    border-bottom: thin solid white;
}

.requis > ul > li > a:hover{
    border-bottom: thin black solid;
}

footer{
    padding: 1.2em;
    background-color: #fde7b3;
    color: black;
}