footer{
    margin-top: 10rem;
    color: black;
}

.content{
    display: flex;
}

.contact{
    display: flex;
    background-color: rgb(214, 214, 214);
    flex-basis: 75%;
}

.reseaux{
    background-color: rgb(199, 199, 199);
    flex-grow: 1;
}

.copyright{
    background-color: black;
    text-align: center;
}

.copyright > p{
    margin: 0;
    color: white;
}

.liens > a{
    display: block;
}

.liens, .adresse{
    flex-grow: 1;
    padding-left: 4rem;
    padding-top: 1.5rem;
    margin: 0 0 2rem 0;
}

.reseaux{
    text-align: center;
    align-items: center;
}

.reseaux > h3{
    margin-top: 2rem;
}

.icon{
    padding: auto;
    margin: 2rem 0 0 0;
    font-size: 2rem;
}

footer i{
    margin: 1rem;
    padding: 1rem;
    background-color: black;
    color: white;
    border-radius: 50%;
}

.liens > a{
    margin : 1rem 0 1rem 0;
}

footer p{
    margin : 1rem 0 1rem 0;
}
